<h1><%= @user.username %></h1>

<% @user.items.each do |item| %>
  <%= truncate("#{item.content}", :length => 30) %>
  Responses: <%= item.responses_count %> | Posted: <%= item.created_at %>
<% end %>
